<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class> DateContextListener </listener-class>
    </listener>
    <context-param>
        <param-name>subject</param-name>
        <param-value>ICS2609</param-value>
    </context-param>
    <context-param>
        <param-name>section</param-name>
        <param-value>2CSD</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>Group 2</param-value>
    </context-param>
    <context-param>
        <param-name>mp</param-name>
        <param-value>Final Academic Project</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    <context-param>
        <param-name>encryption_key</param-name>
        <param-value>melchtristlennar</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>hostname</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databasename</param-name>
            <param-value>UserDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>CaptchaServlet</servlet-class>
        <init-param>
            <param-name>captcha_length</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ReportsPDF</servlet-name>
        <servlet-class>ReportsPDF</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>hostname</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>port</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databasename</param-name>
            <param-value>UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>url1</param-name>
            <param-value>jdbc:mysql://localhost:3306/coursesdb?useSSL=false</param-value>
            <!--  Do not change this  -->
        </init-param>
        <init-param>
            <param-name>username1</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password1</param-name>
            <param-value>root</param-value>
            <!--  Change this  -->
        </init-param>
        <init-param>
            <param-name>driver1</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>CourseServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/coursesdb?useSSL=false</param-value>
            <!--  Do not change this  -->
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
            <!--  Change this  -->
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CoursesPDF</servlet-name>
        <servlet-class>CoursesPDF</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/coursesdb?useSSL=false</param-value>
            <!--  Do not change this  -->
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
            <!--  Change this  -->
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>StudentServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/coursesdb?useSSL=false</param-value>
            <!--  Do not change this  -->
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
            <!--  Change this  -->
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EnrolledServlet</servlet-name>
        <servlet-class>EnrolledServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/coursesdb?useSSL=false</param-value>
            <!--  Do not change this  -->
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>root</param-value>
            <!--  Change this  -->
        </init-param>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/noLoginCredentials.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsPDF</servlet-name>
        <url-pattern>/ReportsPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesPDF</servlet-name>
        <url-pattern>/CoursesPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrolledServlet</servlet-name>
        <url-pattern>/EnrolledServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout> 5 </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
